.roxo {

    border-width:3px; 
    border-style: solid; 
    border-color: #fff; 
    padding: 10%;
    height: 25vh;
    width: 25vw;
    margin: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #670bbd;
    color: #fff;
}

.cont {


    display: grid;
    grid-template-columns: 25% 25% 25% 25%;


}